---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Objective</div>
  </div>

  <div class="mb-10 text-justify">
    As a Third-Year Computer Science major, I am eager to apply my technical skills, Knowledge, and Passion for Programming to
contribute to a challenging and dynamic environment
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science Degree, Major in Computer Science"
      subtitle="University of British Columbia (UBC), Kelowna, BC, Canada (Expected Graduation - May, 2026) "
    />
    <TimeLineElement
      title="Secondary Education"
      subtitle="The Emerald Heights International School, Indore, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Subject Tutor"
      subtitle="UBC Okanagan Supplemental Learning Hub, Kelowna, Canada (September 2024 - Current)"
    >
      <li style="text-indent: -20px; padding-left: 20px;">Deliver personalized one-on-one tutoring in Computer Science and Mathematics, fostering deeper understanding of key
concepts.</li>
    
    <li style="text-indent: -20px; padding-left: 20px;">Develop customized learning strategies to suit individual student needs, enhancing academic performance and confidence.</li>
    
    <li class = 'mb-6' style="text-indent: -20px; padding-left: 20px;" >Track student progress and adapt tutoring methods to ensure continuous improvement and success</li>
    </TimeLineElement>
    
    
    
    
    
    
    <TimeLineElement
      title="Co-Founder and Vice President of Software"
      subtitle="Artificial Intelligence Club, UBC Okanagan (September 2023 – Present)"
    >
      <li style="text-indent: -20px; padding-left: 20px;"> Co-Founded the Artificial Intelligence Club with over 100+ members</li>
      <li style="text-indent: -20px; padding-left: 20px;"> Collaborated with a team of 5 developers to build the Club Software project - AI Chatbot using Java and AIML along with
conducting workshops on OOP design</li>
      <li style="text-indent: -20px; padding-left: 20px;">Conducted multiple Informative Sessions on Software Development and AI through collaboration with Professors.
 </li>
    </TimeLineElement>
    

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href='https://www.udemy.com/share/103J8C3@Yal_JzNuHOOxJALF-5X8YxDsKsjzVMrPbC3J-5vwoDcYfY59fIVRS8OlyB9ShQdKVQ==/' target="_blank"> 100 Days of Code: The Complete Python Pro Bootcamp bu Angela Yu</a>
    </li>
    
    <li>
      <a href='https://www.udemy.com/share/101W923@zwFaYa73SksvOBS2OdQoztriZc1EwtTd8hJc3Upzvb2xZKsY49s2kkWZP3eXozPlLg==/' target="_blank"> Master the Coding Interviews: Data Structures and Algorithms by Andrei Neagoie</a>
    </li>

    <li>
      <a href="https://www.udemy.com/share/101W923@zwFaYa73SksvOBS2OdQoztriZc1EwtTd8hJc3Upzvb2xZKsY49s2kkWZP3eXozPlLg==/" target="_blank">The Web Developer Bootcamp 2024 by Colt Steele </a>
    </li>


    
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Java</li>
    <li>GitHub</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Node</li>
    <li>Express.js</li>
    <li>MongoDB</li>
    <li>MySQL</li>
    <li>Windows</li>
    <li>IOS</li>
    <li>Mathematics</li>
    <li>Leadership</li>
    <li>Organizational Skills</li>
    <li>Problem-Solving</li>
    <li>Excel</li>
    <li>PowerPoint</li>
  </ul>
</BaseLayout>
