---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-28">
    <div class="text-xl py-1">Hey there 👋👋👋</div>
    <div class="text-5xl font-bold">I'm Naman Arora</div>
    <div class="text-3xl py-3 font-bold">Aspiring Software Engineer</div>
    <div class="py-2">
    <text class="text-lg">
        Student at The University of British Columbia | Subject Tutor - Supplemental Learning Hub UBC | Co-Founder and VP Software at The Artificial Intelligence Club UBCO | Looking for Co-op Positions 2025

    </text>
    <br>
    <br>
    <text class="text-lg">
        Enthusiastic and result-oriented Computer Science student seeking an internship to leverage strong programming skills and gain valuable real world experience.

    </text>
    <br>
    <br>    
    <text class="text-lg">
         Possesses a strong foundation in Programming Languages like Python, Java, Javascript including Object-Oriented Design principles and Data Structures. Eager to learn new technologies and contribute to a collaborative team environment.

    </text>



    </div>
    <div class="mt-8">
      <a class="mailtoui" href="mailto:aroranaman116@gmail.com">Let's Connect </a>
    </div>
  </div>

  
  

</BaseLayout>
